
<p>
  Se dice que varias tuberías están conectadas en paralelo si el flujo original
  se ramifica en dos o más tuberías que vuelven a unirse de nuevo aguas abajo.
  El flujo que llega al nudo A se ramifica fluyendo por la tres tuberías que
  aquí se han representado. En el nudo B convergen todas las tuberías y el flujo
  original circula por él. Las tuberías representadas se encuentran ubicadas en
  un plano horizontal. Se cumplen las siguientes condiciones: Q = Q1 + Q2 + Q3 +
  ... La pérdida de carga entre los nudos A y B es la misma en cada una de las
  ramas que unen los dos nudos.
</p>
